@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1180px;
// ※キュンパス幅ではなくインナーの幅を指す

$max-width:500px;

// 余白
$padding-pc: 25px;
$padding-sp: 25px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "yu-gothic, sans-serif";
$second-font: "Emblema One", system-ui;
$third-font: "Noto Sans JP", sans-serif;
$fourth-font:'A-OTF Shin Go Pro', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト

$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333;
$white: #fff;
$green:#5A9F4D;
$blue:#214F70;
$red:#C06223;


body {
  font-family: $base-font-family;
  background-color: #FCF7E1;
  color: $black;
}

