@use "global" as *;

.button__link + .button__link{
    margin-top: rem(20);
}

/*ボタン（赤）*/
.button__item  {
    background: $red;
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: rem(310);
    padding: rem(23.5) 0;
    border-radius: rem(8);
    z-index: 1;
    transition: 0.4s;
    letter-spacing: 0.01em;
    overflow: hidden;
    text-decoration: underline;
}

.button__item span {
    padding-right: rem(22);
}

.button__item span::after {
	background-image: url(../images/common/icon-bg-red.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 48%;
    right: rem(16);
    width: rem(24);
	height: rem(24);
	transform: translateY(-50%);
	transition: 0.4s background-color;
}



/*ボタン（緑）*/
.button__item--green {
    background: $green;
}

.button__item--green span {
    padding-right: rem(0);
}

.button__item--green span::after {
	background-image: url(../images/common/icon-bg-white.png);
}





/*ボタン（trouble）*/
.button__item--trouble{
    background: $green;
    position: relative;
    color: $white;
    font-size: rem(15);
    font-weight: $bold;
    width: rem(340);
    padding: rem(22.5) 0;
    border-radius: rem(138.63);
    @include mq(md) {
        width: rem(626);
        padding: rem(37.5) 0;
        font-size: rem(24);
    }
}

.button__item--trouble span::after {
	background-image: url(../images/common/icon-bg-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 48%;
    right: rem(20);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        top: 48%;
        right: rem(45);
        width: rem(38);
        height: rem(38);
    }
}

.button__item--trouble::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px dashed $white;
    border-radius: rem(138.63);
    pointer-events: none;
}





/*ボタン（caution）*/
.button__item--caution{
    background: $red;
    position: relative;
    color: $white;
    font-size: rem(15);
    font-weight: $bold;
    width: rem(320);
    margin-top: rem(4);
    padding: rem(17.5) 0;
    border-radius: rem(138.63);
    text-decoration: none;
    @include mq(md) {
        width: rem(626);
        margin-top: rem(7);
        padding: rem(37.5) 0;
        font-size: rem(24);
    }
}

.button__item--caution span::after {
	background-image: url(../images/common/icon-bg-red.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 52%;
    right: rem(30);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        top: 48%;
        right: rem(45);
        width: rem(38);
        height: rem(38);
    }
}

.button__item--caution::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px dashed $white;
    border-radius: rem(138.63);
    pointer-events: none;
}

.button__text{
    color: $red;
    font-size: rem(15);
    font-weight: $medium;
    @include mq(md) {
        font-size: rem(20);
    }
}

.button__text span {
    font-size: rem(15);
    @include mq(md) {
        font-size: rem(16);
    }
}





/*ボタン（question）*/
.button__item--question{
    background: $blue;
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: rem(280);
    margin-top: rem(4);
    padding: rem(12.5) 0;
    border-radius: rem(138.63);
    text-decoration: none;
    @include mq(md) {
        width: rem(379);
        margin-top: rem(7);
        padding: rem(16.5) 0;
        font-size: rem(22.34);
    }
}

.button__item--question span::after {
	background-image: url(../images/common/icon-bg-blue.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 52%;
    right: rem(20);
    width: rem(17);
	height: rem(17);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        top: 48%;
        right: rem(30);
        width: rem(23);
        height: rem(23);
    }
}

.button__item--question::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px dashed $white;
    border-radius: rem(138.63);
    pointer-events: none;
}

.button__text--blue{
    color: $blue;
    font-size: rem(12);
    font-weight: $bold;
    @include mq(md) {
        font-size: rem(16.36);
    }
}

.button__item--question span {
    text-decoration: underline;
    text-decoration-color: $white;
    padding: 0;
}