@use "global" as *;

.company{
    text-align: center;
}




.company__heading{
    color: $green;
    font-weight: $bold;
    width: rem(340);
    margin: 0 auto;
    @include mq(md) {
        width: 100%;
    }
}

/*PCのタイトル*/
.company__title-pc{
    width: rem(601);
    margin: 0 auto;
    padding: rem(5) 0;
    border-top: solid 2px $green;
    border-bottom: solid 2px $green;
    font-size: rem(36);
}

.company__title-pc-font{
    font-size: rem(32);
}




/*SPのタイトル*/
.company__title-sp-head{
    font-size: rem(16);
    letter-spacing: 0.1em;
}

.company__title-sp-bottom{
    margin-top: rem(10);
    padding: rem(10) 0;
    font-size: rem(24);
    letter-spacing: 0.04em;
    border-top: solid 2px $green;
    border-bottom: solid 2px $green;
}




.company__subtitle{
    color: $black;
    margin-top: rem(20);
    font-size: rem(24);
    letter-spacing: 0.1em;
    line-height: 1.1;
    @include mq(md) {
        margin-top: rem(10);
        font-size: rem(42);
    }
}

.company__subtitle-color{
    color:#C06223;
}

.company__subtitle-font{
    color: $green;
    font-size: rem(36);
    @include mq(md) {
        font-size: rem(64);
    }
}

.company__subtitle-margin{
    margin-left: rem(16);
    @include mq(md) {
        margin-left: 0;
    }
}

.company__text{
    text-align: left;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 2;
    letter-spacing: 0.07em;
    margin-top: rem(20);
    @include mq(md) {
        font-size: rem(20);
        width: rem(980);
        margin: rem(27) auto 0;
        letter-spacing: 0.01em;
    }
}