@use "global" as *;


.company-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* コンテンツとボタンの間に空白を作る */
    background-color: $white;
    padding: rem(32) 0 rem(40);
    border-radius: rem(14.79);
    position: relative;
    @include mq(md) {
        padding: rem(37) 0 rem(40);
    }
}



.company-card__head{
    color: #7A6A56;
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.01em;
    line-height: 1.55;
    white-space: nowrap;
    @include mq(md) {
        font-size: rem(20);
    }
}

.company-card__head-font{
    color: $green;
    font-size: rem(24);
}

.company-card__border{
    border-bottom: dotted 1px #7A6A56;
    width: rem(294);
    margin: rem(33) auto rem(25);
    @include mq(md) {
        margin: rem(31) auto rem(25);
    }
}

.company-card__name{
    color: #467A3A;
    font-size: rem(28);
    font-weight: $bold;
    letter-spacing: 0.01em;
}

.company-cards__img{
    margin-top: rem(20);
}

.company-cards__img img {
    aspect-ratio: 342/229;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company-card__source{
    margin-top: rem(10);
    display: flex;
    justify-content: center;
    font-size: rem(10);
    font-weight: $medium;
    letter-spacing: 0.01em;
}

.company-card__source-text{
    text-decoration: underline;
}

.company-card__source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}




.company-card__content {
    margin-top: rem(20);
    padding: 0 rem(16);
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* コンテンツ部分が全体の高さに応じて広がるように */
}

.company-card__list{
    background-color:rgba(91, 158, 77, 0.14);
    border-radius: rem(8);
    padding: rem(13) rem(14);
}

.company-card__item{
    display: flex;
    align-items: center;
    gap: 0 rem(26);
}

.company-card__item + .company-card__item{
    margin-top: rem(10.8);
}

.company-card__item dt {
    background-color: $green;
    color: $white;
    font-size: rem(11);
    font-weight: $bold;
    letter-spacing: 0.01em;
    border-radius: rem(4.9);
    width: 52%;
    padding: rem(9) 0;
}

.company-card__item dd {
    text-align: center;
    font-size: rem(18);
    font-weight: $bold;
    letter-spacing: 0.01em;
    width: 55%;
}

.company-card__item--font dd {
    font-size: rem(13);
    line-height: 1.25;
}

.company-card__item--font span {
    font-size: rem(10);
}

.company-card__item img {
    width: rem(27);
    height: rem(27);
    margin: 0 auto;
}

.company-card__sentence {
    margin-top: rem(20);
    flex-grow: 1; /* 文章部分が自動的に高さを調整できるようにする */
    display: flex;
    flex-direction: column;
}

.company-card__text{
    background-color: rgba(243, 240, 219, 0.5);
    padding: rem(20) rem(10);
    text-align: left;
    font-size: rem(16);
    line-height: calc(28/16);
    font-weight: $medium;
    letter-spacing: 0.06em;
    flex-grow: 1; /* この部分が他のカードの高さに合わせて調整される */
}

.company-card__sentence-color{
    color: $green;
    font-weight: $bold;
}


/*ボタン*/
.company-card__buttons {
    margin-top: rem(23); /* 追加 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-features{
    margin-top: rem(20);
}

.company-features img {
    aspect-ratio: 310/228;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 310/228;
    }
}

