@use "global" as *;

.detail-review{
    margin-top: rem(80);
}

.detail-review__inner{
    max-width: $max-width;
    margin: 0 auto;
    @include mq(md) {
        max-width: rem(862);
        padding: 0 rem(25);
    }
}

.detail-review__comment{
    width: rem(136);
    height: rem(136);
    margin: 0 auto;
    @include mq(md) {
        width: rem(162);
        height: rem(162);
    }
}









.detail-review__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(60);
        display: flex;
        flex-wrap: wrap;
    }
}

.detail-review__item{
    @include mq(md){
        max-width: calc(50% - 5rem * 1 / 2 );
        width: 100%;
    }
}

.detail-review__item + .detail-review__item{
    @include mq(md){
        margin-top: 0;
        margin-left: rem(80);
    }
}

.detail-review__item--third + .detail-review__item--third{
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(80);
    }
}

/* 枚数が増えたときのための処理 */
.detail-review__item:nth-child(2n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.detail-review__item:nth-child(n + 3){
    @include mq(md){
        margin-top: 2.5rem;
    }
}




.detail-review__card{
    background-image: url('../images/common/review-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% rem(579);
    padding: rem(55) rem(28) rem(20);
    border-radius: rem(16);
    @include mq(md) {
        background-image: url('../images/common/review-bg-test.png');
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        background-size: cover;
        padding: rem(60) rem(28) rem(48);
    }
}

.detail-review__card--third{
    background-image: url('../images/common/review-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% rem(477);
    padding: rem(55) rem(28);
    @include mq(md) {
        background-image: url('../images/common/review-bg-test.png');
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
        background-size: cover;
        padding: rem(60) rem(40);
    }
}

.detail-review__img{
    width: rem(196);
    height: rem(207);
    margin: 0 auto;
    @include mq(md) {
        width: rem(255);
        height: rem(255);
    }
}

.detail-review__border{
    margin-top: rem(30);
    padding: 0 rem(10);
    @include mq(md) {
        margin-top: rem(40);
        padding: 0;
    }
}

.detail-review__text{
    text-align: left;
    margin-top: rem(30);
    padding: 0 rem(30);
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.8;
    letter-spacing: 0.05em;
    @include mq(md) {
        margin-top: rem(40);
        padding: 0 ;
    }
}

.detail-review__text--third{
    letter-spacing: 0.01em;
}

.detail-review__source{
    margin-top: rem(20);
    display: flex;
    justify-content: center;
    font-size: rem(10);
    font-weight: $medium;
    letter-spacing: 0.01em;
    padding-bottom: rem(40);
    @include mq(md) {
        margin-top: rem(40);
        font-size: rem(13);
        padding: 0;
    }
}


.detail-review__source-text{
    text-decoration: underline;
}

.detail-review__source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}
