@use "global" as *;

.detail-brand{
    margin-top: rem(90);
}

.detail-brand__inner{
    max-width: rem(901);
    margin: 0 auto;
    padding: 0 rem(25);
}







.detail-brand__switching{
    display: inline-block;
    margin-top: rem(36);
    @include mq(md) {
        margin-top: rem(20);

    }
}

.detail-brand__title-pc{
    font-size: rem(36);
    font-weight: $bold;
    letter-spacing: 0.01em;
    border-bottom: solid 2px $green;
}

.detail-brand__title-sp{
    font-size: rem(24);
    font-weight: $bold;
    letter-spacing: 0.01em;
    text-decoration: underline;
    text-decoration-color: $green;
}

.detail-brand__title-sp-font{
    margin-top: rem(9);
    font-size: rem(28);
    font-weight: $bold;
    letter-spacing: 0.01em;
    text-decoration: underline;
    text-decoration-color: $green;
}









.detail-brand__content {
    background-color: $green;
    border-radius: rem(16);
    margin-top: rem(40);
    padding: rem(40) 0 rem(60);
    box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.2);
    @include mq(md) {
        margin-top: rem(51);
        padding: rem(40) 0 rem(42);
    }
}

.detail-brand__type {
    color: $white;
    line-height: 1.6;
    font-size: rem(20);
    font-weight: $bold;
    letter-spacing: 0.01em;
}

.detail-brand__list{
    text-align: center;
    max-width: 100%;
    margin: rem(20) auto 0;
    color: $white;
    line-height: 1.8;
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.01em;
    @include mq(md) {
        max-width: rem(617);
        margin: rem(40) auto 0;
        font-size: rem(20);
        gap: rem(15) rem(24);
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }
}

.detail-brand__list--second{
    @include mq(md) {
        justify-content: center;
    }
}

.detail-brand__list--third{
    @include mq(md) {
        max-width: rem(546);
    }
}

.detail-brand__list p + p {
    margin-top: rem(4);
    @include mq(md) {
        margin-top: rem(0);
    }
}



.detail-brand__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(60);
    @include mq(md) {
        margin-top: rem(80);
    }
}