@use "global" as *;

.detail-explanation{
    padding: 0 rem(25);
    @include mq(md) {
        padding: 0;
    }
}

.detail-explanation__item,
.detail-explanation__item--second,
.detail-explanation__item--third{
    position: relative;
    overflow: hidden;
}

.detail-explanation__item::before{
    background-image: url('../images/common/detail-title-sp1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";    
    top: rem(65);
    left: calc(50% - min(65%, rem(800)));    
    width: 95%;
    height: rem(52);
    z-index: 2;
    @include mq(md) {
        background-image: url('../images/common/detail-title1-comment.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";    
        top: rem(164);
        left: auto;
        right: calc(50% - min(50%, rem(800)));    
        width: 62.25%;
        height: rem(145);
    }
}

.detail-explanation__item--second::before{
    background-image: url('../images/common/detail-title-sp2.png');
    @include mq(md) {
        background-image: url('../images/common/detail-title2.png');
    }
}

.detail-explanation__item--third::before{
    background-image: url('../images/common/detail-title-sp3.png');
    @include mq(md) {
        background-image: url('../images/common/detail-title3.png');
    }
}

.detail-explanation__item + .detail-explanation__item{
    margin-top: rem(30);
    @include mq(md) {
        margin-top: rem(80);
    }
}

.detail-explanation__flex{
    padding-bottom: rem(0);
    @include mq(md) {
        display: flex;
        align-items: flex-end;
        gap: 0 3%;
        padding-top: rem(95);
    }
    }
    @media (max-width: 768px) {
        .detail-explanation__flex {
            display: flex;
            flex-direction: column-reverse; /* 子要素の順序を逆にします */
        }
}





.detail-explanation__content {
    background-image: url('../images/common/explanation-bg-sp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    border-radius: rem(8.45);
    @include mq(md) {
        background-image: url('../images/common/choice-bg.png');
        background-position: calc(50% + -50px) center;
        background-repeat: no-repeat;
        background-size: 100% rem(660);
        max-width: 100%;
        z-index: 1;
        border-radius: rem(0);
    }
}

.detail-explanation__content::before{
    background-image: url('../images/common/detail-number1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: rem(20);
    right: calc(50% - min(44%, rem(430)));
    width: rem(122);
    height: rem(83);
    z-index: 100;
    @include mq(md) {
        top: rem(30);
        right: calc(50% - min(38%, rem(430)));
        width: rem(150);
        height: rem(150);
    }
}

.detail-explanation__content--second,
.detail-explanation__content--third{
    position: relative;
}

.detail-explanation__content--second::before{
    background-image: url('../images/common/detail-number2.png');
}

.detail-explanation__content--third::before{
    background-image: url('../images/common/detail-number3.png');
}

.detail-explanation__inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md) {
        max-width: rem(840);
        padding: 0;
    }
}

.detail-explanation__wrapper{
    position: relative;
    padding-top: rem(134);
    @include mq(md) {
        padding-top: 0;
    }
}


.detail-explanation__number{
    position: absolute;
    top: 7%;
    right: 1%;
    width: rem(150);
    height: rem(150);
}


.detail-explanation__img{
    width: 100%;
    padding: 0 rem(10);
    z-index: 1;
    @include mq(md) {
        width: 65.35%;
        padding: 0;
    }
}


.detail-explanation__img img {
    aspect-ratio:320/199 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(4);
    @include mq(md) {
        aspect-ratio:549/343 ;
        border-radius: rem(0);
    }
}

.company-card__source{
    margin-top: rem(10);
    display: flex;
    justify-content: center;
    font-size: rem(10);
    font-weight: $medium;
    letter-spacing: 0.01em;
}

.company-card__source-text{
    text-decoration: underline;
}

.company-card__source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.detail-explanation__flex-text{
    text-align: left;
    color: $green;
    font-size: rem(22);
    font-weight: $bold;
    padding-bottom: rem(39);
    width: 30%;
}
@media (max-width: 768px) {
    .detail-explanation__flex-text{
        font-size: rem(16);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(20);
        width: 100%;
    }
}

.detail-explanation__flex-text span {
    font-size: rem(24);
}


.detail-explanation__sentence{
    max-width: rem(680);
    margin-top: rem(40);
    text-align: left;
    padding-bottom: rem(60);
    @include mq(md) {
        margin-top: rem(15);
        padding-bottom: rem(100);
    }
}

.detail-explanation__text{
    padding: 0 rem(20);
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(28/16);
    letter-spacing: 0.01em;
    @include mq(md) {
        padding: 0;
    }
}

.detail-explanation__text-color{
    color: $green;
}


.detail-explanation__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(60);
}