@use "global" as *;

.fv-sp{
    position: relative;
    margin-top: rem(-10);
}


.fv-sp__name{
    color: $green;
    margin-right: rem(10);
    text-align: right;
    font-size: rem(18);
    font-weight: $bold;
    letter-spacing: 0.04em;
}

.fv-sp__name::before{
    background-image: url('../images/common/fv-name-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    top: -12px;
    right: calc(50% - min(57.5%, rem(800)));
    width: rem(225);
    height: rem(141);
    z-index: -1;
}

.fv-sp__content{
    background-color: $white;
    margin-top: rem(10);
    padding: rem(20) rem(10) rem(135);
    border-radius: rem(16);
}

.fv-sp__list{
    display: flex;
    flex-wrap: wrap;
}

.fv-sp__item{
    max-width: calc(50% - 0.375rem * 1 / 2 );
    width: 100%;
}

.fv-sp__item + .fv-sp__item{
    margin-top: 0;
    margin-left: rem(6);
}

/* 枚数が増えたときのための処理 */
.fv-sp__item:nth-child(2n + 1){
    margin-left: 0;
}

/* 枚数が増えたときのための処理 */
.fv-sp__item:nth-child(n + 3){
    margin-top: 0.375rem;
}

.fv-sp__img{
    width: 100%;
    height: rem(157);
}

.fv-sp__img img {
    aspect-ratio:157/157 ;
    width: 100%;
    height: 100%;
}

.fv-sp__img--margin{
    width: rem(157);
    height: rem(159.5);
}

.fv-sp__img--margin img {
    aspect-ratio:157/159.5 ;
    width: 100%;
    height: 100%;
}

.fv-sp__title{
    margin-top: rem(63);
    font-size: rem(48);
    font-weight: $bold;
}



.fv-sp__item--hover img {
    transition: transform .6s ease; /* ゆっくり変化させる */
}

.fv-sp__item--hover:hover img {
    transform: scale(1.1); /* 拡大 */
}