@use "global" as *;

.header{
    text-align: center;
    max-width: rem(1440);
    margin: auto;
}

.header__inner{
    padding: rem(25) rem(25) rem(0);
    @include mq(md) {
        padding: 0 rem(130) 0 rem(40);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__nav-pc{
    background-color: #ECE4CB;
    border-radius: 0 0 rem(16) rem(16);
    padding: rem(30) rem(37) rem(22);
}

.header__logo{
    padding-top: rem(10);
    width: rem(121);
    height: rem(45);
    @include mq(md) {
        width: rem(174);
        height: rem(65);
    }
}

.header__nav-list{
    display: flex;
    align-items: center;
}

.header__nav-item{
    padding: 0 rem(30);
}

.header__nav-item a {
    color: #7A6A56;
    font-size: rem(18);
    font-weight: $bold;

}

.header__nav-item a:hover{
    text-decoration: underline;
}