@use "global" as *;

.header{
    text-align: center;
    position: relative;
    max-width: rem(1440);
    margin: auto;
}

.header::before{
    @include mq(md) {
        background-image: url('../images/common/top-pattern-pc.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        top: -100px;
        right: calc(50% - min(48%, 48%));
        width: rem(380);
        height: rem(239);
        z-index: -1;
    }
}

.header__inner{
    padding: rem(25) rem(25) rem(0);
    @include mq(md) {
        padding: rem(10) rem(40) 0;
    }
}

.header__logo{
    width: rem(121);
    height: rem(45);
    @include mq(md) {
        width: rem(174);
        height: rem(65);
    }
}