@use "global" as *;

.head-title__en{
    text-transform: uppercase;
    font-family: $second-font;
    font-size: rem(24);
    letter-spacing: 0.01em;
    color: $green;
    position: relative;
    z-index: 1;
}

.head-title__en--red{
    color: $red;
}

.head-title {
    position: relative;
    text-align: center;
}

.head-title img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(59);
    height: rem(63);
}