@use "global" as *;


.trouble-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 100%;
}


.trouble-card__number{
    font-family: $second-font;
    color: $green;
    font-size: rem(22);
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(24);
    }
}

.trouble-card__title{
    color: #32562A;
    font-size: rem(22);
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(24);
    }
}

.trouble-card__number span {
    color: #6E6A5C;
    font-size: rem(32);
    @include mq(md) {
        font-size: rem(36);
    }
}

.trouble-card__sentence {
    text-align: left;
    color: $white;
    box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.2);
    padding: rem(30) rem(20);
    background-color: $green;
    border-radius: rem(16);
    position: relative;
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を中央揃え */
    justify-content: center; /* 縦方向でも中央揃え */
    flex-grow: 1;
    @include mq(md) {
        padding: rem(18) rem(23);
    }
}


.trouble-card__sentence::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px dashed $white;
    border-radius: 8px;
    pointer-events: none;
}

.trouble-card__text {
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(28/16);
    display: flex;
    justify-content: flex-start; /* テキストを左寄せ */
    text-align: left; /* テキスト自体も左寄せ */
    width: 100%; /* 左寄せのために幅を100%に設定 */
}

.trouble__buttons{
    margin-top: rem(80);
    position: relative;
    @include mq(md) {
        margin-top: rem(100);
    }
}
